---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Manfaat from "../components/Manfaat.astro";
import Unggul from "../components/Unggul.astro";
import Bahan from "../components/Bahan.astro";
import Paket from "../components/Paket.astro";
import ProdukPopuler from "../components/ProdukPopuler.astro";
---

<Layout title="Reglow Store Bali">
  <main class="relative w-full overflow-hidden">
    <Hero />
    <Manfaat />
    <Unggul />
    <Bahan />
    <Paket />
    <ProdukPopuler />
  </main>
</Layout>
