---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Manfaat from "../components/Manfaat.astro";
---

<Layout title="Reglow Store Bali">
  <main class="relative w-full overflow-hidden">
    <Hero />
    <Manfaat />
  </main>
</Layout>
