---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Reglow Store Bali">
  <main class="max-container relative w-full overflow-hidden">
    <Hero />
  </main>
</Layout>
