---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Manfaat from "../components/Manfaat.astro";
import Unggul from "../components/Unggul.astro";
import Bahan from "../components/Bahan.astro";
import Testimoni from "../components/Testimoni.tsx";
import Paket from "../components/Paket.astro";
import ProdukPopuler from "../components/ProdukPopuler.astro";
---

<Layout
  title="Reglow Store Bali"
  description="Agen resmi Reglow Skincare di Bali. Menyediakan produk-produk Reglow Skincare asli dengan harga yang terjangkau. Jika Anda sedang mencari produk skincare yang aman, efektif, dan terjangkau, Reglow Skincare adalah pilihan yang tepat untuk Anda"
  keywords="Reglow Store Bali, Distributor Reglow Bali, Reglow, Reglow Skincare, Skincare aman, Skincare efektif, Skincare murah, Skincare mencerahkan, Skincare menghilangkan jerawat, Skincare menyamarkan bekas jerawat"
>
  <main class="relative w-full overflow-hidden">
    <Hero />
    <Manfaat />
    <Unggul />
    <Bahan />
    <Testimoni client:idle />
    <Paket />
    <ProdukPopuler />
  </main>
</Layout>
