---
import { BAHAN } from "../constants";
import CardBahan from "./CardBahan.astro";
---

<section id="bahan" class="max-container flex w-full flex-col gap-10 px-5 py-16 lg:gap-16 lg:px-10">
  <div class="flex flex-col gap-3">
    <h1 class="text-3xl font-semibold leading-[110%] mobile-md:text-4xl lg:text-5xl">
      Bahan <span class="text-accent-base">Alami Terbaik</span> untuk Kulitmu
    </h1>
    <p class="max-w-2xl font-montserrat leading-[140%] lg:text-lg">
      Rahasia Kecantikan Terletak pada Kombinasi Berkualitas Tinggi dari Alam
    </p>
  </div>
  <div
    class="flex flex-wrap items-center justify-center gap-10 max-md:flex-col xl:justify-between xl:gap-0"
  >
    {BAHAN.map((bahan) => <CardBahan {...bahan} />)}
  </div>
</section>
