---
import { Image } from "astro:assets";

interface Props {
  img: any;
  namaBahan: string;
}

const { img, namaBahan } = Astro.props;
---

<div
  class="shadow-small group flex flex-col items-center justify-center gap-[20px] rounded-xl bg-accent-300 px-10 py-5 transition duration-150 hover:rounded-[20px] hover:bg-main-base md:px-6 md:py-4"
>
  <Image
    src={img}
    alt={namaBahan}
    class="aspect-square w-full max-w-[180px] rounded-full border-[3px] border-main-base bg-neutral-base object-cover object-center"
  />
  <p class="font-montserrat text-xl font-medium">
    {namaBahan}
  </p>
</div>
