---
import { Image } from "astro:assets";
import heroImage from "../assets/hero-image.png";
import WhatsappButton from "./WhatsappButton.astro";
---

<section
  id="beranda"
  class="min-h-fit w-full px-5 py-20 pt-28 md:gap-5 lg:px-10 lg:pt-32"
>
  <div class="flex items-center gap-10 max-md:flex-col lg:justify-between">
    <div class="flex flex-col gap-5">
      <h1
        class="max-w-xl text-4xl font-semibold leading-[110%] lg:text-5xl xl:text-6xl"
      >
        Temukan Keindahan Kulit Bersinar bersama
        <span class="text-accent-base">Reglow</span>
      </h1>
      <p class="max-w-md font-montserrat leading-[140%]">
        Kulit Bersinar dan Sehat Tanpa Ribet dengan Reglow Skincare oleh Dr.
        Shindy Putri
      </p>
      <WhatsappButton label="Pesan Sekarang" color="black" font="montserrat" />
    </div>
    <div class="w-full md:max-w-[400px] lg:max-w-[450px] xl:max-w-[650px]">
      <Image src={heroImage} alt="Gambar Hero" />
    </div>
  </div>
</section>
