---
import whatsappBlack from "../assets/whatsapp-black.svg";
import whatsappWhite from "../assets/whatsapp-white.svg";

interface Props {
  label: string;
  color: "white" | "black";
  font: "montserrat" | "garamond";
}

const { label = "Pesan", color, font } = Astro.props;

const whatsappIcon = {
  white: whatsappWhite.src,
  black: whatsappBlack.src,
};
---

<a
  href="https://wa.me/6285829125631"
  target="_blank"
  class=`flex w-full items-center gap-3 rounded-xl px-5 py-3 text-lg hover:bg-main-200 md:w-fit font-${font} ${color === 'white' ? 'bg-accent-300' : 'bg-main-base'}`
>
  <img
    src={whatsappIcon[color]}
    alt="Whatsapp Logo"
    class="absolute z-10 w-[25px] md:static"
  />
  <p class=`w-full text-center ${color === 'white' && 'text-neutral-50'}`>
    {label}
  </p>
</a>
