---
import "../styles/globals.css";
import Header from "../components/Header.tsx";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title = "Reglow Store Bali",
  description = "Agen Reglow bali",
  image = "/images/reglow.png",
} = Astro.props;
---

<!doctype html>
<html lang="id" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-neutral-base text-neutral-1000 font-garamond text-lg h-[1000px]"
  >
    <Header />
    <slot />
  </body>
</html>
