---
import { injectSpeedInsights } from "@vercel/speed-insights";
injectSpeedInsights({ framework: "astro" });

import "../styles/globals.css";
import Header from "../components/Header.tsx";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title = "Reglow Store Bali", description = "Agen Reglow bali" } = Astro.props;
---

<!doctype html>
<html lang="id" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href="https://www.reglowstorebali.com/" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.reglowstorebali.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Reglow Store Bali" />
    <meta
      property="og:description"
      content="Agen resmi Reglow di Bali. Produk-produk asli, harga terjangkau, solusi kulit sehat Anda. Kunjungi Reglow Store Bali sekarang juga!"
    />
    <meta property="og:image" content="https://www.reglowstorebali.com/og-image.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="reglowstorebali.com" />
    <meta property="twitter:url" content="https://www.reglowstorebali.com/" />
    <meta name="twitter:title" content="Reglow Store Bali" />
    <meta
      name="twitter:description"
      content="Agen resmi Reglow di Bali. Produk-produk asli, harga terjangkau, solusi kulit sehat Anda. Kunjungi Reglow Store Bali sekarang juga!"
    />
    <meta name="twitter:image" content="https://www.reglowstorebali.com/og-image.png" />
    <title>{title}</title>
  </head>
  <body class="bg-neutral-base font-garamond text-neutral-1000">
    <Header client:load />
    <slot />
    <Footer />
  </body>
</html>
